.centro {
    text-align: center;
}
/* Para los filtros del select buscador */
body {
    min-height: 100vh;
    width: 100%;
}
/* CREDENCIAL */
.borde {
    border-right: thin dotted;
    /* border-left: thin dotted; */
    border-bottom: thin dotted;
    border-width: 1px;
}

.trborde {
    border-bottom: thin dotted;
    border-width: 1px;
}

.centro {
    text-align: center;
}

.justificado {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    text-justify: inter-word;
}

.sinespacio {
    margin: 30px;
    padding: 0px;
    margin-left: 200px;
    text-align: left;
}

.tablesinespacio {
    /* Will apply to all tables */
    border-spacing: 0;
    /* OR border-collapse: collapse; */
}

.grande_titulos {
    font-size: 38px;
    margin: 0px;
    margin-top:-8px;
}

.mediano_electo {
    font-size: 23px;
    margin-bottom: 0px;
}

.resolucion {
    font-size: 20px;
}

.pequeno_autoridades {
    font-size: 20px;
}

.ancho_pagina {
    width: 850px;
    margin-left: 200px;
    /* Comentar ocultar borde para pdf: */
    border-radius: 0.75em;
    border: 1px solid #22292f;
}

.ancho_pagina_print {
    width: 910px;
    height: 1310px;
    /* margin-left: 200px; */
    /* Comentar ocultar borde para pdf: */
    border-radius: 0.75em;
    border: 1px solid #22292f;
}

.imagen_margenes {
    margin-top: 20px;
}

.margen_presidente {
    margin-bottom: 0px;
    margin-top: 60px;
}

.margen_vocales {
    margin-top: 80px;
    margin-bottom: 0px;
}

.margen_cargo {
    margin: 0px;
}

.margen_cargo_secretario_camara {
    margin-bottom: 10px;
    margin-top: 0px;
}

.margen_secretario_camara {
    margin-bottom: 0px;
    margin-top: 30px;
}

.margen_estatico {
    /* Descomentar para pdf */
    /* border-radius: 0.75em;
            border: 1px solid #2d3033;
            width:910px;
            height:1210px;
            position:absolute; */
}

.posicion_descargar {
    position: absolute;
}

.letra_titulos {
    font-family: Arial Black, Helvetica, sans-serif;
}

.letra {
    font-family: Arial, Helvetica, sans-serif;
}

.page-break {
    display: block;
    page-break-before: always;
}

/* Para las imagenes del ajax loader*/
.centro_ajax {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

/* Para las composiciones */
.ancho_pagina_comp {
    width: 1350px;
    /* margin-left: 200px; */
    padding: 20px;
    /* Comentar ocultar borde para pdf: */
    border-radius: 0.75em;
    border: 1px solid #22292f;
}
.ancho_pagina_comp_print {
    width: 99%;
    height: 960px;
    padding: 20px;
    /* margin-left: 100px; */
    /* Comentar ocultar borde para pdf: */
    border-radius: 0.75em;
    border: 1px solid #22292f;
}
.grande_titulos_comp {
    font-size: 20px;
    margin: 0px;
    margin-top:-15px;
}
.imagen_margenes_comp {
    margin-left: -30px;
    margin-top: 10px;
}
.qr_margenes_comp {
    margin-right:-75px;
    margin-top:10px;
    margin-bottom: 0px;
}
.qr_pie_comp{
    text-align:right;
    margin-top:0px;
    margin-right: 8px;
    font-size: 11px;
}

.tablesinespacio_comp {
    /* Will apply to all tables */
    text-align:left;
    border-collapse: separate;
    border-spacing: 0 10px;
    /* OR border-collapse: collapse; */
}

tr.border_bottom_comp td, .border_bottom_comp  th {
    border-bottom: 1px solid black;
    border-bottom-style: dotted;
    height: 40px;
    overflow:hidden;
}

tr.border_bottom_comp  th {
    border-top: 1px solid black;
    border-top-style: dotted;
}

.dir_observaciones_comp{
    font-size: 9px;
}
